numpy==2.5.0
scipy==1.18.0
pandas==3.0.3
requests==2.34.2
python-dotenv==1.2.2
Pillow==12.2.0
cloudscraper==1.2.71
lxml==6.1.1
html5lib==1.1
beautifulsoup4==4.15.0
penaltyblog==1.11.0
requests-oauthlib==2.0.0
